@{
    ViewBag.Title = "Site list";
}

<div>
<!--    <h3>Site replicas for: @ViewData["siteName"].ToString()</h3>-->

</div>

<form action="" method="post" enctype="multipart/form-data">
    Select replica publish profiles
    <div id="upload-file-container">
        <input type="file" name="file" id="file"/>
    </div>
    <input type="image" src="Images/submit.jpg"/>
</form>



<input type="hidden" id="regionText" value="@ViewData["regionCodes"].ToString()"/>
<input type="hidden" id="masterRegion" value="@ViewData["masterRegion"].ToString()" />
<input type="hidden" id="siteNames" value="@ViewData["publishSettingsFiles"].ToString()" />
<input type="hidden" id="siteName" value="@ViewData["siteName"].ToString()" />



<div style="visibility:hidden">
    <img id="world" src="Images/world.jpg" alt="Azure Regions" width="0" height="0">
</div>
    <canvas id="myCanvas" width="1200" height="680" style="border:1px solid #d3d3d3;" />

